<app-top [text]="getTopTitle()"></app-top>
<div class="background">
  <div class="container">
    <div class='top-padding'></div>
    <div [ngSwitch]="currentStage">
      <app-names
        *ngSwitchCase="LandingStage.NAME_STAGE"
        (isValid)="onValidityChange($event)"
        [namesList]="sessionInfo.names"
      ></app-names>
      <div *ngSwitchDefault>MORE GOOD THINGS ARE COMING!</div>
    </div>
    <div class="bottom-padding"></div>
  </div>
</div>
<app-bottom
  (back)="handleBack()"
  (login)="handleLogin()"
  (continue)="handleContinue()"
  (startGame)="handleStart()"
  [stage]="currentStage"
  [stageValid]="isStageValid"
></app-bottom>
