.container {
  padding-top: 10px;
}
app-action {
  padding-top: 20px;
}
.top-padding {
  padding-top: 20px;
  margin-top: 20px;
}
.continue {
  flex:1;
  margin-left:10px;
  margin-right: 10px;
}
.full {
  width: 100%;
}
.buttoncont {
  display: flex;
}
