<app-navbar [title]='gameData.currentStage === GameStages.GAME_OVER ? "GAME OVER" : undefined' [roundNumber]="gameData.roundOf" [roundNumber2]='gameData.roundOf===1 || gameData.roundOf===8 ? gameData.completedRoundsInRound+1 : undefined'></app-navbar>
<div class="container">
  <div [ngSwitch]="gameData.currentStage">
    <div *ngSwitchCase="GameStages.FINAL_STAGE">
      <app-leaderboard></app-leaderboard>
      <div *ngIf="gameData.currentStage === GameStages.FINAL_STAGE" class='buttoncont'>
        <button (click)='gameData.nextRound()' class="continue" mat-raised-button color="accent">CONTINUE</button>
      </div>
    </div>
    <div *ngSwitchCase="GameStages.GAME_OVER">
      <app-leaderboard title='FINAL SCORES'></app-leaderboard>
      <div *ngIf="gameData.currentStage === GameStages.GAME_OVER" class='buttoncont'>
        <button (click)='newGame()' class="continue" mat-raised-button color="accent">NEW GAME</button>
      </div>
    </div>
    <div *ngSwitchDefault>
      <app-guesses></app-guesses>
      <app-action></app-action>
      <app-key-grid (clicked)='keyClicked($event)'></app-key-grid>
    </div>
  </div>
</div>
