<app-navbar [title]='gameData.currentStage === GameStages.GAME_OVER ? "GAME OVER" : undefined' [roundNumber]="gameData.roundOf" [roundNumber2]='getRoundNumber2()'></app-navbar>
<div class="container">
  <div [ngSwitch]="gameData.currentStage">
    <div *ngSwitchCase="GameStages.ROUND_RESULT_STAGE">
      <app-round-end></app-round-end>
      <div class='buttoncont pt-4 pb-4'>
        <button (click)='previousStage()' class="continue" mat-raised-button color="accent">BACK</button>
        <button [disabled]='!isRoundValid()' (click)='nextStage()' class="continue" mat-raised-button color="accent">CONTINUE</button>
      </div>
    </div>
    <div *ngSwitchCase="GameStages.FINAL_STAGE">
      <app-leaderboard></app-leaderboard>
      <div *ngIf="gameData.currentStage === GameStages.FINAL_STAGE" class='buttoncont pt-4 container'>
        <button (click)='gameData.nextRound()' class="continue" mat-raised-button color="accent">CONTINUE</button>
      </div>
    </div>
    <div *ngSwitchCase="GameStages.GAME_OVER">
      <app-leaderboard title='FINAL SCORES'></app-leaderboard>
      <div *ngIf="gameData.currentStage === GameStages.GAME_OVER" class='buttoncont'>
        <button (click)='newGame()' class="continue" mat-raised-button color="accent">NEW GAME</button>
      </div>
    </div>
    <div *ngSwitchDefault>
      <app-guesses></app-guesses>
      <app-action (cardChanged)='invalidGuessKeyHandler()'></app-action>
      <app-key-grid [disabledGuess]='invalidGuessKey' (clicked)='keyClicked($event)'></app-key-grid>
    </div>
  </div>
</div>
