<mat-card class="grid">
    <div class="row">
      <div class="col">
        <button class="key-button" mat-stroked-button>1</button>
      </div>
      <div class="col">
        <button class="key-button" mat-stroked-button>2</button>
      </div>
      <div class="col">
        <button class="key-button" mat-stroked-button>3</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="key-button" mat-stroked-button>4</button>
      </div>
      <div class="col">
        <button class="key-button" mat-stroked-button>5</button>
      </div>
      <div class="col">
        <button class="key-button" mat-stroked-button>6</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="key-button" mat-stroked-button>7</button>
      </div>
      <div class="col">
        <button class="key-button" mat-stroked-button>8</button>
      </div>
      <div class="col">
        <button class="key-button" mat-stroked-button></button>
      </div>
    </div>
</mat-card>
