<mat-card>
  <div class="row">
    <p class="options-group">
      <span class="option-title">Bonus Points:</span>
      <mat-button-toggle-group
        class="option-buttons"
        name="fontStyle"
        aria-label="Font Style"
      >
        <mat-button-toggle checked value="5">5</mat-button-toggle>
        <mat-button-toggle value="10">10</mat-button-toggle>
      </mat-button-toggle-group>
    </p>
  </div>
</mat-card>
<mat-card>
  <div class="row">
    <p class="options-group">
      <span class="option-title">Play Style:</span>
      <mat-button-toggle-group
        class="option-buttons"
        name="fontStyle"
        aria-label="Font Style"
      >
        <mat-button-toggle checked value="181">1-8-1</mat-button-toggle>
        <mat-button-toggle value="818">8-1-8</mat-button-toggle>
      </mat-button-toggle-group>
    </p>
  </div>
</mat-card>
