<div class="container">
  <div class="row">
    <div class="col text-center">
      <mat-card>
        <span class="title">{{title}}</span>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-score-card
        primary
        size="1.3em"
        rank="1"
        [name]="leader.name"
        [score]="leader.score"
      ></app-score-card>
    </div>
  </div>
  <div class="row">
    <div class="col" *ngFor="let noob of subLeaderboard; index as i">
      <app-score-card
        rank="{{ i + 2 }}"
        [name]="noob.name"
        [score]="noob.score"
      ></app-score-card>
    </div>
  </div>
</div>
