.name {
  font-size: 2em;
}
.remover {
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.38);
}
.remover :hover {
  cursor: pointer;
}
.lastname :hover {
  cursor: pointer;
}
