<div class="bottom">
  <div class="container">
  <div class="row bot-buttons">
    <div class="col center pl-3">
      <button disabled mat-raised-button color="accent" class="setup-button" (click)="login.emit()">LOGIN</button>
    </div>
    <div *ngIf="stage!=LandingStage.NAME_STAGE" class="col center">
      <button mat-raised-button class="setup-button" (click)="back.emit()">BACK</button>
    </div>
    <div *ngIf="stage!=LandingStage.OPTIONS_STAGE" class="col center pr-3">
      <button mat-raised-button color="primary" [disabled]="!stageValid" class="setup-button" (click)="continue.emit()">CONTINUE</button>
    </div>
    <div *ngIf="stage==LandingStage.OPTIONS_STAGE" class="col center pr-3">
      <button routerLink="/play" mat-raised-button color="primary" [disabled]="!stageValid" class="setup-button" (click)="startGame.emit()">START GAME</button>
    </div>
  </div>
</div>
</div>
