<mat-card>
  <div class="row">
    <div class="col text-center">
      <span [class.disabled]='!leftEnabled' class="arrow material-icons" (click)='previousCard()'>arrow_back</span>
    </div>
    <div class="col text-center">
      <span class="name">{{playerName}}</span>
    </div>
    <div class="col text-center">
      <span [class.disabled]='!rightEnabled' class="arrow material-icons" (click)='nextCard()'>arrow_forward</span>
    </div>
  </div>
  <div class="row">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="predicted">
        <th [class.black]="gameData.currentStage === GameStages.GUESS_STAGE" mat-header-cell *matHeaderCellDef>Predicted</th>
        <td [class.highlight]="gameData.currentStage === GameStages.GUESS_STAGE" mat-cell *matCellDef="let element">{{ element.predicted }}</td>
      </ng-container>

      <ng-container matColumnDef="got">
        <th [class.black]="gameData.currentStage === GameStages.GOT_STAGE" mat-header-cell *matHeaderCellDef>Got</th>
        <td [class.highlight]="gameData.currentStage === GameStages.GOT_STAGE" mat-cell *matCellDef="let element">{{ element.got }}</td>
      </ng-container>

      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef="let element">{{ element.score }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
  </div>
</mat-card>
