/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: bebas;
  src: url(assets/fonts/BebasNeue-Regular.ttf);
}
.title-font {
  font-family: bebas;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.center {
  text-align: center;
}
:root {
  --side-padding: 20vw;
}

.text-center {
  text-align: center;
}
.primary-color-bg {
  background-color: #ffc107;
}
