<mat-card>
  <div class="row">
    <div class="col center">
      <span class='title'>PREDICTIONS</span>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col center">
      <span>Paulius</span>
      <br>
      <span>1</span>
    </div>
    <div class="col center">
      <span>Paulius</span>
      <br>
      <span>1</span>
    </div>
    <div class="col center">
      <span>Paulius</span>
      <br>
      <span>1</span>
    </div>
    <div class="col center">
      <span>Paulius</span>
      <br>
      <span>1</span>
    </div>
    <!-- <div class="col center">
      <span>Paulius</span>
      <br>
      <span>1</span>
    </div>
    <div class="col center">
      <span>Paulius</span>
      <br>
      <span>1</span>
    </div> -->
  </div>
</mat-card>
